<div class="login-page">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <form role="form">
        <md-card *ngIf="_ws.connected != true">
          WebSocket connection failed!
        </md-card>
        <md-card class="app-input-section" *ngIf="_ws.connected == true">

          <div class="form-group">
            <p class="title">FreeNAS</p>
          </div>

          <div *ngIf="failed == true" class="form-group">
            Username or password invalid!
          </div>

          <div class="form-group">
            <md-input #userinput name="user" [(ngModel)]="user" placeholder="Username" autoFocus="true"></md-input>
          </div>

          <div class="form-group">
            <md-input [(ngModel)]="password" name="password" type="password" placeholder="Password"></md-input>
          </div>

          <div class="form-group">
            <button md-raised-button color="primary" (click)="doLogin()">Log in</button>
          </div>

        </md-card>
      </form>
    </div>
  </div>
</div>
