<pre *ngIf="error" [style.color]="red">
{{ error }}
</pre>
<table width="100%">
  <tr>
    <td colspan="3"><input [(ngModel)]="name" class="form-control" placeholder="Name" required/></td>
  </tr>
  <tr>
  <td colspan="3">
    <ba-card>
    <h4>Data</h4>
    <app-vdev *ngFor="let vdev of vdevs.data" [group]="'data'"></app-vdev>
    <button class="btn btn-primary" (click)="addVdev('data')">add</button>
    </ba-card>
    <ba-card>
    <h4>Cache (L2ARC)</h4>
    <app-vdev *ngFor="let vdev of vdevs.cache" [group]="'cache'"></app-vdev>
    <button class="btn btn-primary" (click)="addVdev('cache')"> add </button>
    </ba-card>
    <ba-card>
    <h4>Log (ZIL)</h4>
    <app-vdev *ngFor="let vdev of vdevs.log" [group]="'log'"></app-vdev>
    <button class="btn btn-primary" (click)="addVdev('log')">add</button>
    </ba-card>
  </td>
    <td colspan="1" valign="top">
    <ba-card>
      <h3>Disks</h3>
      <div [dragula]='"pool-vdev"' [style.minHeight]="'200px'">
      <app-disk *ngFor="let disk of disks" [data]="disk"></app-disk>
      </div>
    </ba-card>
    </td>
  </tr>
  <tr>
    <td colspan="4">
    <button class="btn btn-primary" (click)="doSubmit()">Create</button>
    </td>
  </tr>
</table>
