<form (ngSubmit)="doSubmit()" #form="ngForm">
  <div *ngIf="error">
    {{ error }}
  </div>
  <table>
    <tr>
      <td>
        <md-input placeholder="Group ID" name="gid" [(ngModel)]="data.gid" required [disabled]="data.builtin"></md-input>
      </td>
    </tr>
    <tr>
      <td>
        <md-input placeholder="Name" name="name" [(ngModel)]="data.name" required [disabled]="data.builtin"></md-input>
      </td>
    </tr>
    <tr>
      <td>
        <select placeholder="Members" name="members" [(ngModel)]="data.members" multiple>
          <option *ngFor="let user of users" [value]="user.id">{{ user.username }}</option>
        </select>
      </td>
    </tr>
    <tr>
    <tr>
      <td>
        <button md-raised-button color="primary" type="submit" [disabled]="!form.valid">Update</button>
        <button md-raised-button *ngIf="!data.builtin" color="accent" (click)="gotoDelete()">Delete</button>
      </td>
    </tr>
  </table>
</form>
